.header-color {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-color:hover {
  font-weight: bold;
}

.home-grid {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-sect {
  font-size: 72px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
  padding: 1em;
  margin: auto;
}

.about-desc {
  color: gray;
  font-size: 24px;
  margin: auto;

}

.about-nav:hover {
    color: white;
    background-color: #0a1014;
    text-align: center;
  }

  .about-nav:active {
    color: white;
    font-weight: bold;
  }

  .projects-nav:hover {
    color: white;
    background-color: #0a1014;
    text-align: center;
  }

  .projects-nav:active {
    color: white;
    font-weight: bold;
  }

  .resume-nav:hover {
    color: white;
    background-color: #0a1014;
    text-align: center;
  }

  .resume-nav:active {
    color: white;
    font-weight: bold;
  }

  .contact-nav:hover {
    color: white;
    background-color: #0a1014;
    text-align: center;
  }

  .contact-nav:active {
    color: white;
    font-weight: bold;
  }


.profilepic-img {
  height: 250px;
  width: 250px;
  padding-top: 8em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profilepic-img:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
}

.about-pic {
  height: 600px;
  width: 600px;
  position: absolute;
  right: 50px;
  padding-top: 8em;
  overflow: hidden;
}

.banner-text {
  margin-top: 5em;
  margin-left: 225px;
  padding: .5em;
  background-color: black;
  opacity: .8;
  width: 75%;
  border-radius: 20px;
  
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-links {
  font-size: 5em;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: 	#f8f8ff;
}

.fa-linkedin-square:hover {
  color: #2867B2;
}

.fa-github-square:hover {
  color: #211F1F;
}

.fa-behance-square:hover {
  color: #053eff;
}

.projects-grid {
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-page {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.resume-right-col {
  background: #27221f;
  color: white;
  overflow: visible;
}